@model ZTB.OA.Model.WF_Instance
@using ZTB.OA.Model

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table>
    <tr>
        <td>流程类型:</td>
        <td>@ViewBag.temp.TepName</td>
    </tr>
    <tr>
        <td>流程描述:</td>
        <td>@ViewBag.temp.Description</td>
    </tr>
    <tr>
        <td>流程名:</td>
        <td>@ViewBag.temp.TepName</td>
    </tr>
    <tr>
        <td>流转到:</td>
        <td>@Html.DropDownList("UserList")</td>
    </tr>


    <tr>
        <td>申请内容:</td>
        <td>@ViewBag.temp.TemForm</td>
    </tr>

</table>