<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css")
</head>
<body style="padding:10px;margin:10px;">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        defaults = {
            color: '#64bd63'
, secondaryColor: '#dfdfdf'
, jackColor: '#fff'
, jackSecondaryColor: null
, className: 'switchery'
, disabled: false
, disabledOpacity: 0.5
, speed: '0.1s'
, size: 'small'
        }

        var elem = document.querySelector('.js-switch');
        var init = new Switchery(elem);
    </script>
</body>
</html>
